{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sang Nguyen CV</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'css/dist/dracon-css/kube.css' %}" />
	<link rel="stylesheet" href="{% static 'css/dist/dracon-css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/dist/dracon-css/custom.css' %}" />

<!--<link rel="stylesheet" href="css/kube.css" />  
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="shortcut icon" href="img/favicon.png" />            -->

	<link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--Header-->

	
	<!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="{% static 'css/dist/img/ava.jpg' %}" alt="Avatar" style="width:100px;height:100px;" >
				</div>
				<div class="unit-80">
					<p class="bio" style="padding: 1px;">
						Programming is even more common everyday, gives a great view of technologies among places we’re living. 
						Got interested in Python, I steadily land a first step in Web Development using Django Framework.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>About Me</h1>
			<table>
				<tr>
				  <th>
					<ul class="skill-list list-flat">
						<li>Name</li>
						<li>NGUYEN NHU BAO SANG</li>
					</ul>
				  </th>

				  <th>
					<ul class="skill-list list-flat">
						<li>Phone number <i class="fa fa-mobile" aria-hidden="true"></i>
						</li>
						<li>+84 90184803</li>
					</ul>
				  </th>

				</tr>
				<tr>
					<th>
						<ul class="skill-list list-flat">
							<li>Email <i class="fa fa-envelope" aria-hidden="true"></i>
							</li>
							<li>nguyennhubaosang@gmail.com</li>
						</ul>
					  </th>
					  <th>
						<ul class="skill-list list-flat">
							<li>Github   <i class="fa fa-github"></i> </li>
							<li><a href="https://github.com/sangnnbs">https://github.com/sangnnbs </a></li>
						</ul>
					  </th>
				</tr>
			</table>

		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Technical Skills</h1>
			<table>
				<tr>
				  <th>
					<ul class="skill-list list-flat">
						<li>Programming Language</li>
						<li>Python / Html / CSS</li>
					</ul>
				  </th>

				  <th>
					<ul class="skill-list list-flat">
						<li>Tools</li>
						<li>VScode / Docker / Git</li>
					</ul>
				  </th>

				</tr>
				<tr>
					<th>
						<ul class="skill-list list-flat">
							<li>Database</li>
							<li>Postgres</li>
						</ul>
					  </th>
					  <th>
						<ul class="skill-list list-flat">
							<li>Others</li>
							<li>Data stucture, Algorithm, OOP, System design</li>
						</ul>
					  </th>
				</tr>
			</table>
		</div>
	</div>

	<!-- Soft Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Soft Skills</h1>
			<ul class="skill-listt">
				<li>Technical research</li>
				<li>Fluent in English communication</li>
				<li>Problem Solving and Logical thinking</li>
			</ul>
		</div>
	</div>

	<!--Footer-->
	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-20">
					<a href="https://www.djangoproject.com/">
			    	<img src="{% static 'css/dist/img/pydj.png' %}" alt="Django">
					</a>
			    </div>
			    <div class="unit-80">
					<ul class="social list-flat right">
						<li><a href="https://www.facebook.com/nguyennhubaosang">Say hello <i class="fa fa-facebook" aria-hidden="true"></i>
						</a></li>
						
					</ul>
			    </div>
			</div>
		</div>
	</footer>
</body>
</html>
