{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sang Nguyen CV</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'css/dist/dracon-css/kube.css' %}" />
	<link rel="stylesheet" href="{% static 'css/dist/dracon-css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/dist/dracon-css/custom.css' %}" />
	
<!--<link rel="stylesheet" href="css/kube.css" />  
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="shortcut icon" href="img/favicon.png" />            -->
	
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

	
</head>
<body>
	<!--Header-->

	
	<!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="{% static 'css/dist/img/myava.jpg' %}" alt="Avatar" style="width:70px;height:100px;" >
				</div>
				<div class="unit-80">
					<p style="padding: 1px; font-size: 20px; line-height: 30px">
						{{ profile.bio }}
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h3>About Me</h3>
			<table >
				<tr>
				  <th>
					<ul class="skill-list list-flat">
						<li>Name</li>
						<li>{{ profile.name }}</li>
					</ul>
				  </th>

				  <th>
					<ul class="skill-list list-flat">
						<li> <i class="fa fa-mobile" aria-hidden="true"></i> Phone number 
						</li>
						<li>{{ profile.phone_number }}</li>
					</ul>
				  </th>

				</tr>
				<tr>
					<th>
						<ul class="skill-list list-flat">
							<li><i class="fa fa-envelope" aria-hidden="true"></i> Email 
							</li>
							<li>{{ profile.email }}</li>
						</ul>
					  </th>
					  <th>
						<ul class="skill-list list-flat">
							<li><i class="fa fa-github"></i>Github    </li>
							<li><a href="{{ profile.github }}">{{ profile.github }} </a></li>
						</ul>
					  </th>
				</tr>
			</table>

		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h3>Technical Skills</h3>
			<table class="is-responsive">
				<tr class="is-bordered is-striped">
					<th style="width: 40%;">
						<ul class="skill-list list-flat">
							<li>Project 1</li>
							<li> <a href="https://sangcv.herokuapp.com/profile">
								My Curriculum Vitae </a>
								<li>Backend: Django Framework</li>
								<li>Frontend: HTML, CSS</li>
								<li>Development Platform: Heroku</li>
								<li></li>
							</li>

						</ul>
					  </th>
					  <th>
						<ul class="skill-list list-flat">
							<li>Project 2</li>
							<li> <a href="https://github.com/sangnnbs/speechtest">
								Vocal Dictionary </a>
								<li>Backend: Python</li>
								
								<li>Usage: Show Definitions and Types of Word with Oxford API and Speech Converter</li>
								<li></li>
							</li>

						</ul>
					  </th>
				</tr>
				<tr>
				  <th>
					<ul class="skill-list list-flat">
						<li>Programming Language</li>
						<li>Python / Html / CSS</li>
					</ul>
				  </th>

				  <th>
					<ul class="skill-list list-flat">
						<li>Tools</li>
						<li>VScode / Docker / Git</li>
					</ul>
				  </th>

				</tr>
				<tr>
					<th>
						<ul class="skill-list list-flat">
							<li>Database</li>
							<li>Postgres</li>
						</ul>
					  </th>
					  <th>
						<ul class="skill-list list-flat">
							<li>Others</li>
							<li>Data stucture, Algorithm, OOP, System design</li>
						</ul>
					  </th>
				<tr>
					
					</div>


				</tr>
			</table>
		</div>
	</div>

	<!-- Soft Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h3>My Study Resources</h3>
			<ul class="skill-listt">
				<li>Freecodecamp.org - Python tutorials (main)</li>
				<li>Ebook - Learn Python 3 the Hard way</li>
				<li>Interested Gits: 
					<a href="https://github.com/donnemartin/system-design-primer?fbclid=IwAR0QG1UpbKG9jbsnWcF6hOAK4VtzrSWqlK04anq-taBNgw-J606WVBHk8pY">
						The System Design Primer</a>, 
						<a href="https://github.com/sangnnbs/snake-ai">
							Snake-AI React App</a>,
							<a href="https://github.com/AkashSingh3031/The-Complete-FAANG-Preparation">
								The Complete FAANG Preparation </a>
						
						
				</li> 
			</li>

			</ul>
		</div>
	</div>

	<!--Footer-->
	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-30">
					<a href="https://www.djangoproject.com/">
			    	<img src="{% static 'css/dist/img/pydj2.png' %}" alt="Django" style="width: 60px;height:auto ;">
					</a>
			    </div>
			    <div class="unit-70">
					<ul class="social list-flat right">
						<li><a href="https://www.facebook.com/nguyennhubaosang">Say hello <i class="fa fa-facebook" aria-hidden="true"></i>
						</a></li>
						
					</ul>
			    </div>
			</div>
		</div>
	</footer>
</body>
</html>
